// sidebar
$menuText: #3c3d40;
$menuActiveText:#409EFF;
$subMenuActiveText: #1295ff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: rgba(142, 198, 255, 0);
$menuHover: rgba(82, 171, 226, 0.14);

$subMenuBg: rgba(0, 41, 227, 0);
$subMenuHover: rgba(15, 151, 249, 0.35);

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
